@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
@use "utils/fonts.css.scss";
@use "utils/backgrounds.css.scss";

@layer base {
  html {
    font-family: "Source Sans Pro", Inter, sans-serif;
  }
  body {
    text-rendering: optimizeLegibility;
  }
}

@media print {
  * {
    display: none;
  }
}

main {
  opacity: 0;
}

[x-cloak] {
  display: none !important;
}

.turbo-progress-bar {
  height: 10px;
  background-color: cyan;
}

.tippy-box {
  max-width: 276px !important;
  text-align: center;
  border-radius: 0.5rem;
}

.tippy-box[data-theme~="light"] {
  @apply px-4 py-2 text-sm dark:bg-[#0b1622] dark:text-white;
}

.tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow::before {
  @apply border-t-cyan-500;
}

.tippy-box[data-theme~="light"][data-placement^="left"] > .tippy-arrow::before {
  @apply border-l-cyan-500;
}

.tippy-box[data-theme~="light"][data-placement^="right"]
  > .tippy-arrow::before {
  @apply border-r-cyan-500;
}

.tippy-box[data-theme~="light"][data-placement^="bottom"]
  > .tippy-arrow::before {
  @apply border-b-cyan-500;
}

.tippy-popover-header {
  padding: 0.5rem 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
}

.tippy-popover-body {
  padding-top: 0.5rem;
  white-space: pre-line;
}
