<% content_for :title, "Update Brand" %>

<div class="card bg-base-200 shadow-xl">
  <div class="card-body">
    <div class="card-title">
      <h1 class="text-4xl font-bold">Update Brand</h1>
    </div>

    <%= render "form", brand: @brand %>
  </div>
</div>
