<div id="<%= dom_id supplier %>" class="flex flex-col gap-2">
  <div>
    <strong>Name:</strong>
    <%= supplier.name %>
  </div>

  <div>
    <strong>Contact No.:</strong>
    <%= supplier.contact_number %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= supplier.address %>
  </div>
</div>
