<% content_for :title, "Update Supplier" %>

<div class="card bg-base-200 shadow-xl">
  <div class="card-body">
    <div class="card-title">
      <h1 class="text-4xl font-bold">Update Supplier</h1>
    </div>

    <%= render "form", supplier: @supplier %>
  </div>
</div>
