<footer class="footer dark:text-[#bfb3a4] text-gray-400 p-4 bg-[#151515] shadow md:flex md:items-center md:justify-between md:p-6 hidden" id="footer">
  <aside class="container flex flex-row gap-2 xs:flex-col">
    <span class="flex-1 text-sm xs:text-center xs:order-3">© 2022-<%= Time.zone.now.year %>
      aldwin7894. All Rights Reserved.</span>
  </aside>
</footer>
